black==23.1.0
click==8.1.3
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.1
platformdirs==3.1.1
pony==0.7.16
psutil==5.9.4
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
pyqt6-tools==6.4.2.3.3
python-dotenv==1.0.0
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
tomli==2.0.1
typing_extensions==4.5.0
